/**
 *  MELLO OFF CANVAS
 */
$offcanvas-time: 0.4s;
$offcanvas-size : 100%; 

$main-color: #A1A1A1;

.offcanvas-menu{
  overflow:hidden;
  background-color: $main-color;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: $z-index-6;
  visibility: visible;
  opacity: 0;
  padding-top: 77px;
  height: 100%;
  width: $offcanvas-size;
  @include transition(transform $offcanvas-time,opacity ($offcanvas-time - 0.2)); 
 // @include transform(translateZ(1));
  -webkit-tap-highlight-color: black;
  -webkit-backface-visibility: hidden;
  &.active{
  @include transform(translateX(-100%));
  -webkit-tap-highlight-color: black;
  -webkit-backface-visibility: hidden;
  opacity:1;
  will-change: translate, opacity;
  }
  .nav > li:last-of-type{
    .sub-menu li{
      &:last-of-type{
        a{
          &:before{ 
            display: none;
          }
        }
      }
    }
  }

  .h4{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    margin:0;
    color:$white;
    a{
      font-weight:500;
      padding: 0;
      line-height:44px;
      @extend .f-size-big;
      letter-spacing:1px;
      &:visited{ 
        color:$white;
      }
      &:before{ 
        content:"";
        width:80px;
        height:2px;
        background-color:$noilly-gold;
        position:absolute;
        margin-top:42px;

      }

      
    }
  }
  /*
  .sub-menu .h4 a:before{
    box-shadow:0px 1px 0px 0px rgba(199, 157, 37, 1);
  }
  */
}

.nav-toggle {
  display:block;
  width:50px;
  height:50px;
  position: fixed;
  right:4.5%;
  top:10px;
  cursor: pointer;
  opacity: 1;
  z-index: $z-index-6 + 1;
  background-color:transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  #nav-close{
    opacity: 0
  }
  #nav-open{
  
  }
  &.active{
    #nav-close{
      opacity: 1;
    }
    #nav-open{
      opacity: 0;
    }
  }

}


#container, .slide-dat{
  //@include transform(translateX(none));
 // @include transform(translateZ(0));
 padding-top:70px;
  @include transition(all $offcanvas-time+0.2);
  
  &.active{
    //@include transform(translateX(-10%));
  }
}



/* Menu */
.menu-wrap {
  height: 100%;
  -webkit-transform: translate3d(-320px,0,0);
  transform: translate3d(-320px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
#menu-main-menu {
  height: 100%;
}

#menu-main-menu {
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

#menu-main-menu li {
  display: block;
  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

#menu-main-menu,
#menu-main-menu li {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

#menu-main-menu li:nth-child(2) {
  -webkit-transform: translate3d(0,1000px,0);
  transform: translate3d(0,1000px,0);
}

#menu-main-menu li:nth-child(3) {
  -webkit-transform: translate3d(0,1500px,0);
  transform: translate3d(0,1500px,0);
}

#menu-main-menu li:nth-child(4) {
  -webkit-transform: translate3d(0,2000px,0);
  transform: translate3d(0,2000px,0);
}

#menu-main-menu li:nth-child(5) {
  -webkit-transform: translate3d(0,2500px,0);
  transform: translate3d(0,2500px,0);
}

#menu-main-menu li:nth-child(6) {
  -webkit-transform: translate3d(0,3000px,0);
  transform: translate3d(0,3000px,0);
}

.show-menu #menu-main-menu,
.show-menu #menu-main-menu li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu #menu-main-menu li {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}